.profile_screen{
    background-color: black!important;
    height: 100vh;
    color: white;
}

.profile_body{
    width:50%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    margin-left: auto;
    margin-right: auto;
    
}

.profile_body > h1{
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.profile_details {
    color: white;
    margin-left: 25px;
    flex: 1;
}

.profile_details > h2{
    background-color: #828182;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 20px;
}
 
.profile_info{
    display: flex;

}

.profile_info > img{
    height: 100px;
    width: auto;
}

.profile_signout{
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    background-color: #e50914!important;
    width: 100%;
    font-weight: 400;
    cursor: pointer;
    border: none;
}

.profile_plans > h3{
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
    margin-top: 10px;
}
